.story-card-container {
    background-color: rgb(40, 146, 146);
    padding: 4px;
    max-width: 200px;
    min-width: none;
}

.story-card-synop {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.story-button {
    border-radius: 4px;
    border: 0;
    background-color: aquamarine;
    text-decoration: none;
    padding-left: 4px;
    padding-right: 4px;
}