@media screen and (max-width: 768px) {

.body .home-body {
    max-width: 80%
}
.home-body .card-group {
    display: flex;
    flex-direction: column;
    min-width: 100%;
}
.story-link .story-card-container {
    min-width:fit-content;
}
.body .story-page-body {
    max-width: 90%;
}
.body .reader-body {
    max-width: 90%;
    font-size: 20px;
}
.chapter-reader-title{
    font-size: 32px;
}
.story-syno {
    font-size: 20px;
}
.chapter-link{
    font-size: 20px;
}
} 

.body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: hsl(240, 33%, 99%);
    padding: 0;
    margin: 0;
    padding-bottom: 100px;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.site-header {
    box-shadow:  0px 2px 8px #d0d0d0;
    background-color: hsl(0, 0%, 96%);
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: center;
    position:sticky;
    top: 0px;
    width: 100%;
    padding-top: 12px;
    
}

.site-title{
    margin: 0;
}



.welcome {
    text-align: center;
}

.home-body {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-self: center;
}

.card-group {
    display: flex;
    flex-direction: row;
    gap: 24px;
}

.line {
    padding: 0;
    margin: 0;
    margin-bottom: 4px;
}

.underline {
    width: 46px;
    height: 4px;
    background-color: hsl(186, 47%, 19%);
    padding: 0;
    border-radius: 2px;
}

.story-line {
    margin-bottom: 20px;
    margin-top: 20px;
}

.story-link {
    text-decoration: none;
    min-width: fit-content;
}

.story-card-container {
    background-color: hsl(0, 0%, 100%);
    padding: 8px;
    max-width: 250px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0px 0px 8px #d0d0d0;
}

.story-card-title {
    font-size: 24px;
    padding: 0;
    text-align: left;
    margin-top: 0;
    color: hsl(0, 0%, 12%);
}

.story-card-synop {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    color: hsl(0, 0%, 45%);
    padding: 0;
    font-size: 12px;
    text-align: left;
    line-height: 20px;
}

.story-button {
    border-radius: 4px;
    border: 0;
    background-color: hsl(186, 47%, 19%);
    padding: 4px;

    
}

.read-now-link {
    text-decoration: none;
    color: rgb(255, 255, 255);
    width: 100%;
    height: 100%;
    display: block;
}

.story-page-body {
    max-width: 50%;
}

.story-syno {
    line-height: 24px;
    white-space: pre-wrap;
}

.story-page-title {
    margin-bottom: 4px;
}

.chapter-index {
    padding: 8px;
    box-shadow: 0px 0px 8px #d0d0d0;
    border-radius: 8px;
}

.index-heading {
    margin-bottom: 12px;
    margin-top: 0;
    padding: 0;
}


.chapter-underline {
    width: 24px;
    height: 1px;
    background-color: hsl(186, 47%, 19%);
    padding: 0;
    border-radius: 2px;
    margin-top: 2px;
}


.chapter-link {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.chapter-link-box {
    display: flex;
    gap: 12px;
    flex-direction: column;
}

.pagination {
    display: flex;
    justify-content: space-between;
}

.hide {
    display: none;
    background-color: #d0d0d0;
}

.back-page,
.next-page {
    background-color: hsl(186, 47%, 19%);
    width: 60px;
    padding: 8px;
    border-radius: 4px;
    margin-top: 6px;

}
.nav-but {
    text-decoration: none;
    color: #ffffff;
    width: 100%;
    height: 100%;
    display: block;
    text-align: center;
    font-size: medium;
    
}

.reader-body {
    max-width: 50%;
    display: flex;
    flex-direction: column;
    align-content: center;

}

.reader-story-link {
    text-decoration: none;
    color: hsl(186, 47%, 19%);
}

.chapter-reader-title {
    margin-bottom: 4px;
}